{{#if target.length}}
  {{#unless (eq forceLabel 0)}}
    {{#unless skipLine}}<br>{{/unless}}
  {{/unless}}
{{/if}}

{{#if (or target.length forceLabel)}}
  {{#if target.length}}
    {{#unless skipLabel}}
      <span class="span3">
        {{#if bypassLabel}}
          {{localize sublabel}}:
        {{else}}
          {{#if plain}}
            {{localize "PF1.FromSources"}}
          {{else if label}}
            {{localize label}}
          {{else}}
            {{localize "PF1.FromSources"}}
          {{/if}}
          {{~#if sublabel}} ({{localize sublabel}}){{/if}}:
        {{/if}}
      </span>
    {{/unless}}
  {{/if}}
{{/if}}

{{#if target.length}}
  {{#each target as |src|}}
    <span class="span1 align-left">{{src.name}}: </span>
    <span class="span1 align-rightspaced">
    {{#if value.length}}
      {{value}}
    {{else}}
      {{#if isDistance}}
        {{convertDistance src.value}}
      {{else}}
        {{numberFormat src.value sign=true}}
      {{/if}}
    {{/if}}
    </span><span class="span1 align-right">
    {{#if src.modifier.length}}
      [{{src.modifier}}]
    {{/if}}</span>
  {{/each}}
{{/if}}
